
body{
    background-image: url("img/mountainpink.jpg");  
    background-repeat: no-repeat;
    background-attachment: fixed;
    image-resolution: 39;
}

.main-container{
    padding-top: 7px;
}

.scrolling-navbar{
    transition: .5s ease-in-out, padding .5s ease-in-out;
  
  }

  
/*start styling the sections*/
#about{
  
 position: relative;
padding-bottom: 30px;
 padding-top: 12%;
}

#skills{
 
 position: relative;
 margin: 0 auto;
 padding-bottom: 30px;
 padding-top: 12%;

 
}

#projects{
    padding-top: 12%;
   position: relative;
   margin: 0 auto;
   padding-bottom: 30px;
   
   
}

#contact{
    padding-top: 12%;
    position: relative;
    margin: 0 auto;
    padding-bottom: 30px;
}

#expirience{
    padding-top: 12%;
    position: relative;
    margin: 0 auto;
    padding-bottom: 30px;
}
#education{
    padding-top: 12%;
    position: relative;
    margin: 0 auto;
    padding-bottom: 30px;
    
}

.iconSize{
    width: 4vw;
  
}


/*end of styling the sections*/
#navbar a:hover{
    background-color: hsl(219, 78%, 51%);
    color: black;
    border-radius: 9em;
}

#navbar a .active{
    background-color: dodgerblue;
    color: black;
}

.btn-block:hover{
    background-color: hsl(180, 77%, 45%);
    color: black;
    border-radius: 4em;
}
@media screen and (max-width:580px){
   
}

.brand-image{
    border-radius: 6em;
}

.nav-link i{
    margin-right: 10px;
}
.profile{
    width: 10vw;
    height: 10vw;
    border-radius: 9em;
    margin-left: 40px;
}



.home-card{
    background-image: url("img/mountainpink.jpg");
    border-radius: 4em;
}

.exp-card{
    
        background-image: url("img/mountainpink.jpg");
    
}
.about-card{
    background-image: url("img/mountainpink.jpg");
}

.card-title, .card-text{
color: white;

}

.slide img{
    height: 35vw;
    width: 100%;
    border-radius: 3em;
}

.skills-card{
    background-color: rgba(112, 101, 101, 0.8);
 
}

/*Style the About me title*/
.abt-title{
  font-size: 48px;
  background-color: rgba(140, 140, 140, 0.8);
  color: #ddd;
  text-decoration: underline;
border-radius: 20em;
}
